@page "/"

<Container Fluid="true">
    <CardDeck>
        <Card Margin="Margin.Is1.OnMobile.Is2.OnAll">
            <div class="card-header" @ref="PositiefGetestePersonenPerDagHeaderRef">
                <CardText Alignment="TextAlignment.Left">@Resources.PositiefGetestePersonenPerDag_Header</CardText>
            </div>
            <CardBody>
                <CardText><LineChart @ref="PositiefGetestePersonenPerDagLineChart" TItem="double?" Options="@PositiefGetestePersonenPerDagChartOptions" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.DarkBlue">██</span>
                    @Resources.PositiefGetestePersonenPerDag_Y
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Red">██</span>
                    @string.Format(Resources.PositiefGetestePersonenPerDag_TodayAndTotal, PositiefGetestePersonenPerDagDetails.CountToday, PositiefGetestePersonenPerDagDetails.CountTotal)
                </CardText>
                <CardText><br /></CardText>
                <CardText Style="font-size: 0.9em">@Resources.PositiefGetestePersonenPerDag_BodyText1</CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @PositiefGetestePersonenPerDagDetails.Dates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://coronadashboard.rijksoverheid.nl/landelijk/positief-geteste-mensen">rijksoverheid.nl</a></small></CardText>
            </CardFooter>
        </Card>
        <Card Margin="Margin.Is1.OnMobile.Is2.OnAll">
            <div class="card-header" @ref="IntakeCountHeaderRef">
                <CardText Alignment="TextAlignment.Left">@Resources.IntakeCount_Header</CardText>
            </div>
            <CardBody>
                <CardText><LineChart @ref="IntakeCountLineChart" TItem="double?" Options="@IntakeCountChartOptions" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.DarkBlue">██</span>
                    @Resources.IntakeCount_Y
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Red">██</span>
                    @string.Format(Resources.IntakeCount_TodayAndTotal, IntakeCountDetails.CountToday, IntakeCountDetails.CountTotal)
                </CardText>
                <CardText><br /></CardText>
                <CardText Style="font-size: 0.9em">@Resources.IntakeCount_BodyText</CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @IntakeCountDetails.Dates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
    </CardDeck>
    <CardDeck>
        <Card Margin="Margin.Is1.OnMobile.Is2.OnAll">
            <div class="card-header" @ref="DiedAndSurvivorsCumulativeHeaderRef">
                <CardText Alignment="TextAlignment.Left">@Resources.DiedAndSurvivorsCumulative_Header</CardText>
            </div>
            <CardBody>
                <CardText><LineChart @ref="DiedAndSurvivorsCumulativeLineChart" TItem="double" Options="@IntakeCountChartOptions" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Green">██</span>
                    @string.Format(@Resources.DiedAndSurvivorsCumulative_Verlaten, DiedAndSurvivorsCumulativeDetails.CountTodayVerlaten)
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Blue">██</span>
                    @string.Format(@Resources.DiedAndSurvivorsCumulative_Verpleegafdeling, DiedAndSurvivorsCumulativeDetails.CountTodayNogOpVerpleegafdeling)
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: lightgray">██</span>
                    @string.Format(@Resources.DiedAndSurvivorsCumulative_Overleden, DiedAndSurvivorsCumulativeDetails.CountTodayOverleden)
                </CardText>
                <CardText><br /></CardText>
                <CardText Style="font-size: 0.9em">@Resources.DiedAndSurvivorsCumulative_BodyText</CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @DiedAndSurvivorsCumulativeDetails</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
        <Card Margin="Margin.Is1.OnMobile.Is2.OnAll">
            <div class="card-header" @ref="AgeDistributionHeaderRef">
                <CardText Alignment="TextAlignment.Left">@Resources.AgeDistribution_Header</CardText>
            </div>
            <CardBody>
                <CardText><BarChart @ref="AgeDistributionBarChart" TItem="int" Options="@AgeDistributionChartOptions" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Green">██</span>
                    @Resources.Label_Gezond
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Blue">██</span>
                    @Resources.Label_Verpleegafdeling
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Yellow">██</span>
                    @Resources.Label_IC
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: lightgray">██</span>
                    @Resources.Label_Overleden
                </CardText>
                <CardText><br /></CardText>
                <CardText Style="font-size: 0.9em">@Resources.AgeDistribution_BodyText</CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @IntakeCountDetails.Dates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
    </CardDeck>
    <CardDeck>
        <Card Margin="Margin.Is1.OnMobile.Is2.OnAll">
            <div class="card-header" @ref="BehandelduurDistributionHeaderRef">
                <CardText Alignment="TextAlignment.Left">@Resources.BehandelduurDistribution_Header</CardText>
            </div>
            <CardBody>
                <CardText><BarChart @ref="BehandelduurDistributionBarChart" TItem="int" Options="@BehandelduurDistributionChartOptions" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Green">██</span>
                    @Resources.Label_Gezond
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Blue">██</span>
                    @Resources.Label_Verpleegafdeling
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Yellow">██</span>
                    @Resources.Label_IC
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: lightgray">██</span>
                    @Resources.Label_Overleden
                </CardText>
                <CardText><br /></CardText>
                <CardText Style="font-size: 0.9em">@Resources.BehandelduurDistribution_BodyText</CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @IntakeCountDetails.Dates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
    </CardDeck>
    <Text Color="TextColor.Muted" Alignment="TextAlignment.Center"><small>@((MarkupString)Resources.Copyright)</small></Text>
</Container>