@page "/"

<Container Fluid="true">
    <div class="card-deck">
        <Card Margin="Margin.Is1.OnMobile.Is3.OnAll">
            <CardHeader>
                <CardText Alignment="TextAlignment.Left">@Resources.IntakeCount_Header</CardText>
            </CardHeader>
            <CardBody>
                <CardText>@Resources.IntakeCount_BodyText</CardText>
                <CardText><br /></CardText>
                <CardText><LineChart @ref="IntakeCount" TItem="double" OptionsJsonString="@IntakeCountChartOptionsAsJson" /></CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @IntakeCountDates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
        <Card Margin="Margin.Is1.OnMobile.Is3.OnAll">
            <CardHeader>
                <CardText Alignment="TextAlignment.Left">@Resources.AgeDistribution_Header</CardText>
            </CardHeader>
            <CardBody>
                <CardText>@Resources.AgeDistribution_BodyText</CardText>
                <CardText><br /></CardText>
                <CardText><BarChart @ref="AgeDistribution" TItem="int" OptionsJsonString="@AgeDistributionChartOptionsAsJson" /></CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Green">██</span>
                    @Resources.AgeDistribution_Label_Gezond
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Blue">██</span>
                    @Resources.AgeDistribution_Label_Verpleegafdeling
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: @AppColors.Yellow">██</span>
                    @Resources.AgeDistribution_Label_IC
                </CardText>
                <CardText Alignment="TextAlignment.Left" style="font-size: 0.8em">
                    <span style="color: lightgray">██</span>
                    @Resources.AgeDistribution_Label_Overleden
                </CardText>
            </CardBody>
            <CardFooter>
                <CardText Color="TextColor.Muted"><small>Periode: @IntakeCountDates</small></CardText>
                <CardText Color="TextColor.Muted"><small>Bron data: <a href="https://stichting-nice.nl/">Stichting NICE</a></small></CardText>
            </CardFooter>
        </Card>
    </div>
</Container>